/* You can add global styles to this file, and also import other style files */
.book-card:hover, .rental-card:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar-nav .nav-link.active {
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}